
.section-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.item-manager {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.sort-div, .count-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}


.sort-div select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
}

.count-div h2 {
    font-size: 20px;
    font-weight: bold;
}

.count-div button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.count-div button:hover {
    background-color: #0056b3;
}

.count-div output {
    margin-left: 15px;
    font-size: 18px;
    font-weight: bold;
}

.items-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.item {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    text-align: center;
}

h3 {
    margin: 10px 0;
}

h4 {
    font-weight: 600;

}

h5 {
    color: #505050;
    margin: 10px 0;
}

h6 {
    color: #049ff8;
    margin: 10px 0;
    font-size: 20px;
}

.manage {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    width: 100%;
}

.manage button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.manage button:hover {
    background-color: #0056b3;
}

.avatar {
    width: 100%;

    aspect-ratio: 1.3;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    border-radius: 20px;
}
